* {
    margin: 0;
    padding: 0;
    @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

}

body{
    background-color: black;
    
}


/*/ESTILOS BOTON NAVEGACION /*/
nav{
    margin-top: -15px;
    
    
}
.boton__nav{
    background-color: black;
}
.boton__color {
    background-color: red;
    padding: 5px;
    margin: 15px;
}
/*/ESTILOS NAVEGACION/*/
.img__logo {
    width: 50px;
    height: 50px;
}

.ul__nav {
   padding: 35px; 
   width: 100%;
   height: 100%;
   background-color:black;
}
.ul__nav li {
    margin: 0px 15px;
}
.ul__nav li a {
    color: white;
    font-size: 25px;
    font-weight:bold;
    font-family: 'Orbitron', sans-serif;
}
.ul__nav li a:hover{
    color:red;
}
/*/ ESTILOS SLIDERS FOTOS /*/

.slider {
    width: 100%;
    height: 500px;
    padding: 25px;
    
}

.img__slider{
    height: 600px;
}



/*/ESTILOS SECTION INDEX/*/


.titulo__section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    word-spacing: 50px;
    margin: 25px;
    color: rgb(255, 0, 0);
    margin-top: 200px;
    
    
}
.titulo__section h1 {
    font-size: 50px;
    border-bottom: solid 5px rgb(255, 0, 0);
}


.section__grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-row: auto auto;
    align-items: center;
    justify-content:center;
    gap: 250px;
    margin: 50px;
}

.section__blok {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}


.section__img {
    width: 450px;
    height: 450px;
    border: solid 5px red;
    
}



.ancla__section:hover {
    transform: scale(1.1);
}

.ancla__section {
    transition: 1s;
}

/*/ESTILOS FOOTER /*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;
    background-color: rgb(44, 44, 44);
    
}

.blok__footer {
    display: flex;
    flex-direction: column;
    
    margin: 5px;
}

.blok__footer p {
    font-size: 15px;
    color: rgb(255, 255, 255);
    line-height: 50px;
    letter-spacing: 3px;



}

/*/ESTILOS NOSOTROS/*/

.section__nosotros {
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.img__nosotros {
    width: 450px;
    height: 450px;
}

.div__nosotros {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 25px;
}

.div__nosotros p {
    font-size: 20px;
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
    line-height: 35px;
    margin: 15px;
}

/*/ESTILOS CONTACTO/*/

.iframe__section {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    padding: 50px;
    gap: 50px;
    margin-bottom: 100px;
}

.iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.iframe h2 {
    margin: 50px;
    letter-spacing: 3px;
    color:red;
    font-family: 'Orbitron', sans-serif;
    border-bottom: solid 2px red;
    
}

.img__wp {
    height: 120px;
    width: 120px;
}

.div__wp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
}

.div__wp h2 {
    color: red;
    font-family: 'Orbitron', sans-serif;
    margin: 50px;
    border-bottom: solid 2px red;
}


/*/ESTILOS MOTOS/*/

.titulo__motos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.titulo__motos h2 {
    color: white;
    font-family: 'Orbitron', sans-serif;
    border-bottom: double 10px red;
    font-size: 80px;

} 
.ul__motos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    padding: 15px;
    border: solid 2px red;
}
.ul__motos li {
    list-style-type: none; 
}
.img__nav {
    height: 120px;
    width: 120px;
}
.section__motos {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-around;
    gap: 50px;
}
.motos__img {
    width: 600px;
    height: 500px;
}
.div__section__motos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px;
    padding: 15px;
    border: double 10px red;
    transition: 1s;
}
.div__section__motos:hover{
    transform: scale(1.1);
}

.text__motos {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 3px;
    padding: 10px;
    color: white;
}
.h {
    border-bottom: double 5px red;
}

.p {
    color: red;
    font-size: 20px;
}
.div__section__motos a {
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
    color: white;
}
.div__section__motos a:hover {
    color: red;
} 
/*/ESTILOS PAG HONDA/*/
.section__honda{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    margin: 50px 0px;
    gap: 20px;
    
    

}
.div__honda {
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 15px;
    margin: 50px 0px;
    border: solid 5px red;
    
}
.imghonda {
    width: 500px;
    height: 450px;
}


/*/ESTILOS COLORES MOTOS /*/
.sectioncolor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
    
    
}

.divcolor {
    width: 75%;

}

.colorb {
    height: 75px;
    background-color: red;
    
}

/*/ESTILOS FICHA TECNICA/*/



.ficha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px;
}



/*/MEDIA QUERIS/*/

@media (max-width:1600px) {
    
    .section__honda {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows:auto auto auto auto ;
    }
    .img__honda{
        width: 800px;
        height: 500px;
    }
    .section__motos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .titulo__section {
        font-size: 50px;
        text-align: center;
        
    }

    .section__grid {
        display: flex;
        flex-direction: column;
    }

    .div__nosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .iframe__section {
        display: flex;
        flex-direction: column;
        
    }

}

@media (max-width:1200px){


    .section__honda {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imghonda {
        width: 800px;
        height: 500px;
    }

    
    ul {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        justify-content: center;
        
    }

    .banner img {
        width: 100%;
        height: 350px;
    }

    .section__img {
        height: 350px;
        width: 350px;
    }

    .iframe {
        margin: 25px;
    }

    .ul__motos {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: space-evenly;
        gap: 15px;
        
    }

    .ficha img {
        width: 850px;
    }

    .img1 {
        height: 350px;
        
    }


}

@media (max-width:900px) {

    .section__honda {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-around;

    }

    .div__section__motos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imghonda {
        width: 425px;
        height: 400px;
    }
    .motos__img {
        width: 425px;
        height: 350px;
    }
    .iframe {
        height: 500px;
        width: 250px;
    }
    .iframe__section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }  

    .ficha img {
        width: 650px;
    }

    .img1 {
        height: 250px;
        
    }
}


@media (max-width:600px){

    .imghonda {
        width: 350px;
        height: 400px;
    }
    .motos__img {
        width: 350px;
        height: 350px;
    }

    .div__honda {
        width: 400px;
        
    }

    .ficha img {
        width: 480px;
    }

    .divcolor {
        width: 100%;
    }



    .img1 {
        height: 250px;
        
    }


    


}









